<header class="page-header">
  <h1>Dashboard</h1>
</header>

<div class="alert alert-secondary">
  <h3>Product Count: <%= @products_count %></h3>
  <%= link_to "Product List", admin_products_path, class: 'btn btn-primary' %>
</div>


<div class="alert alert-secondary">
  <h3>Category Count: <%= @categories_count %></h3>
  <%= link_to "Category List", admin_categories_path, class: "btn btn-primary" %>
</div>
